---

version: "3.8"
services:
  docs:
    image: jekyll/jekyll:3.8.5
    volumes:
      - "./:/srv/jekyll"
    ports: 
      - "0.0.0.0:4000:4000"
      - "0.0.0.0:35729:35729"
    command: ["jekyll", "serve", "--livereload", "--watch", "--force_polling", "--incremental", "-b", "/"]
